# =========================
# Node
# =========================
node_modules/

# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc

# =========================
# Variables de entorno
# =========================
.env

# =========================
# Sistema
# =========================
.DS_Store